<%
doc = Nokogiri::XML(open(Blacklight.fedora_config[:internal_url] + "/get/#{fedora_object}/sdef:METADATA/PBCore"))
require 'lib/openvault/pbcore'
pbcore = Openvault::Pbcore::Document.new(open(Blacklight.fedora_config[:internal_url] + "/get/#{fedora_object}/sdef:METADATA/PBCore"))
source_credits = '' 
%>

<div id="viz">
	<%= link_to 'See this record in relation to&nbsp;others.', {:controller => 'viz', :action => 'show', :id => @document.id}, :target => '_blank', :title => 'View relationship map (BETA)' %>
</div>
<script type="text/javascript">
$('#viz a').popupWindow({height: 588, width: 662, centerScreen: 1});
</script>

<%= render :partial => 'mlt' %>

<div>
  <h3 class="toggler">Source</h3>
  <div>
  <% ancestors = fedora_ancestors fedora_object %>
    <% pbcore.titles.each do |type, value| %>
      <% result = ancestors.select { |r| r.at('title').text == value } %>
      <% value = link_to(value, ("/catalog/" + result.first.at('pid')['uri'].split('/').last).to_s ) unless result.empty? or  result.first.at('pid')['uri'].split('/').last == fedora_object %>
      <div><strong><%= type %></strong> <%= value %></div>
    <% end %>

    <% pbcore.publishers.reject{|type, value| value == 'WGBH Educational Foundation' }.each do |type, value| %>
      <div><strong><%= type %></strong> <%= value %></div>
      <% source_credits << "Footage Courtesy of <a href=\"http://www.abcnewsvsource.com/\" rel=\"nofollow\">ABCNews</a>" if value =~ /ABC/ %>
      <% source_credits << "Footage Courtesy of <a href=\"http://www.cbsnews.com/\" rel=\"nofollow\">CBS News</a>" if value =~ /CBS/ %>
    <% end %>
    <div class="source-credits">
      <%= source_credits %>
    </div>
  </div>
</div>

<div>
  <h3 class="toggler">Description</h3>
  <div>
    <div>
      <% pbcore.descriptions.reject{|type, value| type == 'Abstract' }.each do |type, value| %>
        <div><strong><%= type %></strong> <%= value.gsub('</resource_link>', '</a>').gsub('<resource_link res="', '<a class="resource_link" href="/catalog/org.wgbh.mla:') %></div>
      <% end %>
    </div>
    
<% subjects = pbcore.subjects("").merge(pbcore.subjects("Subject Heading")).merge(pbcore.subjects("LC")).map { |authority, value| value }.flatten %>
<% unless subjects.blank? %>
      <div><strong>Topics</strong>
      <ul>
      <% subjects.map { |v| v[:subject] }.uniq.each do |s| %>
    	<%= content_tag(:li, link_to(s, catalog_index_path({:f =>{ 'topic' => [ s ]}}))) %>
      <% end %>
      </ul>
    </div>
<% end %>

</div>
</div>

<% instantiations = pbcore.instantiation %>
<% unless instantiations.blank? %>
<div>
<h3 class="toggler">Media</h3>
<% instantiations.each do |inst| %>
<div>
<%
  inst_map = {'formatDuration' => 'Duration', 'formatStandard' => 'Standard', 'formatPhysical' => 'Physical format', 'formatGenerations' => 'Type'}
 %> 

<% inst[:to_xml].xpath('pbcore:pbcoreFormatID[pbcore:formatIdentifierSource="wgbh.org/mars/barcode/"]/pbcore:formatIdentifier', 'pbcore' => 'http://www.pbcore.org/PBCore/PBCoreNamespace.html').map { |e| e.content }.to_a.uniq.each do |e| %>
<div><strong>Barcode</strong>
<%= e %></div>
<% end %>

<% inst_map.each do |key, label| %>
  <% inst[key].to_a.uniq.each do |e| %>
    <div><strong><%= label %></strong> <%= e %></div> 
  <% end %>
<% end %>

</div>
<% end %>

</div>
<% end %>

<% contributors = pbcore.contributors %>
<% creators = pbcore.creators %>
<% unless contributors.blank? and creators.blank? %>
<div>
<h3  class="toggler">People</h3>
<% creators.each do |k, v| %>
<% k = 'People' if k.blank? %>
<div><strong><%= k %></strong>
<ul>
<% v.each do |e| %>
<%= content_tag(:li, link_to(e[:creator], catalog_index_path({:q => e[:creator]}))) %>
<% end %>
</ul>
</div>
<%      
end
%>
<% contributors.each do |k, v| %>
<% k = 'People' if k.blank? %>
<div><strong><%= k %></strong>
<ul>
<% v.each do |e| %>
<%= content_tag(:li, link_to(e[:contributor], catalog_index_path({:q => e[:contributor]}))) %>
<% end %>
</ul>
</div>
<%      
end
%>
</div>
<% end %>

<% coverage = pbcore.coverage %>

<% unless coverage['Temporal'].blank? %>
<div>   
<h3  class="toggler">Date</h3>
<div><strong>Covered</strong>

<ul>
      <% coverage['Temporal'].uniq.each do |s| %>
        <%= content_tag(:li, link_to(s[:coverage], catalog_index_path({:q => s[:coverage] }))) %>
      <% end %>
</ul>
</div>
</div>
<% end %>
        
<% unless coverage['Spatial'].blank? %>
<div>   
<h3  class="toggler">Place</h3>
<div><strong>Covered</strong>

<ul>
      <% coverage['Spatial'].uniq.each do |s| %>
        <%= content_tag(:li, link_to(s[:coverage], catalog_index_path({:q => s[:coverage] }))) %>
      <% end %>
</ul>
</div>
</div>
<% end %>

